@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de scroll para el contenedor .custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
}